Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g54, pull requests merged in 2022-10, with the labels that each got.

#67 Add question-service endpoints
  .github/workflows/question_service_ci.yaml
  question-service/.babelrc
  question-service/.env.sample
  question-service/.gitignore
  question-service/package-lock.json
  question-service/package.json
  question-service/src/app.js
  question-service/src/configs.js
  question-service/src/constants/difficultyEnum.js
  question-service/src/constants/responseMessages.js
  question-service/src/constants/statusCodes.js
  question-service/src/db/models/Question.js
  question-service/src/db/setup.js
  question-service/src/exceptions/NoQuestionEntries.js
  question-service/src/index.js
  question-service/src/middlewares/errorHandlers.js
  question-service/src/routes.js
  question-service/src/services/questionService.js
  question-service/tests/routes.test.js
  question-service/tests/services/questionService.test.js
Labels: fr, priority.High, question-service

#70 Add basic logic for collaboration
  backend/gateway/src/constants/responseMessages.js
  backend/gateway/src/events/matchEvents.js
  backend/gateway/src/exceptions/CompromisedAccessToken.js
  backend/gateway/src/middlewares/verifyAccessToken.js
  backend/gateway/src/routes/gatewayRoutes.js
  backend/gateway/src/routes/questionRoutes.js
  backend/gateway/src/services/questionService.js
  frontend/src/components/CollaborationPage.js
  frontend/src/components/LoginPage.js
  frontend/src/components/MatchingPage.js
  frontend/src/components/WaitingPage.js
  frontend/src/configs.js
Labels: fr, matching-service, collaboration-service, gateway, frontend

#71 Update landing, signup, login and main page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/CollaborationPage.js
  frontend/src/components/LandingPage.js
  frontend/src/components/LoginPage.js
  frontend/src/components/MainPage.js
  frontend/src/components/SettingsMenu.js
  frontend/src/components/SignupPage.js
  frontend/src/components/UpdatePasswordForm.js
  frontend/src/configs.js
  frontend/src/index.js
  frontend/src/landingpage.png
Labels: frontend

#75 Add collaboration service
  backend/collaboration-service/.env.sample
  backend/collaboration-service/.gitignore
  backend/collaboration-service/package-lock.json
  backend/collaboration-service/package.json
  backend/collaboration-service/src/app.js
  backend/collaboration-service/src/configs.js
  backend/collaboration-service/src/events/collaborationEvents.js
  backend/collaboration-service/src/index.js
  backend/gateway/src/app.js
  backend/gateway/src/events/collaborationEvents.js
  backend/gateway/src/events/connectionEvents.js
  frontend/src/components/CollaborationPage.js
  frontend/src/components/MainPage.js
  frontend/src/components/MatchingPage.js
Labels: fr, priority.High, collaboration-service, gateway, frontend

#78 Add basic collaborative drawing
  backend/collaboration-service/src/events/collaborationEvents.js
  backend/gateway/src/events/collaborationEvents.js
  backend/gateway/src/events/connectionEvents.js
  frontend/src/components/CollaborationPage.js
Labels: fr, priority.High, collaboration-service, gateway, frontend

#80 Refactor collaboration components
  backend/collaboration-service/src/events/collaborationEvents.js
  backend/gateway/src/events/collaborationEvents.js
  backend/gateway/src/events/connectionEvents.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatComponent.js
  frontend/src/components/CollaborationPage.js
  frontend/src/components/CollaborativeCodeEditor.js
  frontend/src/components/CollaborativeTabs.js
  frontend/src/components/CollaborativeWhiteBoard.js
  frontend/src/index.css
Labels: fr, collaboration-service, gateway, frontend

#81 Fix Chat username and Code Editor language issues
  backend/auth-service/src/routes/authRoutes.js
  backend/auth-service/src/services/authService.js
  backend/gateway/.env.sample
  backend/gateway/src/configs.js
  backend/gateway/src/events/communicationEvents.js
  backend/gateway/src/events/connectionEvents.js
  backend/gateway/src/events/matchEvents.js
  backend/gateway/src/services/authService.js
  backend/matching-service/src/db/models/match.js
  backend/matching-service/src/db/repositories/match.js
  backend/matching-service/src/events/matchEvents.js
  backend/matching-service/src/services/matchService.js
  backend/user-service/src/routes/userRoutes.js
  backend/user-service/src/services/userService.js
  backend/user-service/tests/routes.test.js
  backend/user-service/tests/services/userService.test.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatComponent.js
  frontend/src/components/CollaborationPage.js
  frontend/src/components/CollaborativeCodeEditor.js
  frontend/src/components/CollaborativeTabs.js
  frontend/src/components/CollaborativeWhiteBoard.js
  frontend/src/components/LoginPage.js
  frontend/src/components/MainPage.js
  frontend/src/components/MessageComponent.js
  frontend/src/components/WaitingPage.js
Labels: bug, priority.High, collaboration-service, gateway, frontend

#82 Update frontend components - waiting page, collab page, renew token
  frontend/src/components/ChatComponent.js
  frontend/src/components/CollaborationPage.js
  frontend/src/components/LandingPage.js
  frontend/src/components/MainPage.js
  frontend/src/components/WaitingPage.js
  frontend/src/configs.js
  frontend/src/hooks/useAxios.js
  frontend/src/hooks/useRefreshToken.js
  frontend/src/img/landingpage.png
  frontend/src/index.js
Labels: frontend

#83 Fix CollaborationPage style and add placeholder submit button
  frontend/src/components/CollaborativeTabs.js
Labels: frontend

#84 Add user sign up validation
  backend/user-service/src/constants/regExp.js
  backend/user-service/src/constants/responseMessages.js
  backend/user-service/src/exceptions/FieldValidationFailure.js
  backend/user-service/src/services/userService.js
  backend/user-service/tests/routes.test.js
  backend/user-service/tests/services/userService.test.js
Labels: fr, priority.High, user-service, gateway, frontend

#112 Add missing environment variables
  backend/collaboration-service/.env.sample
  backend/communication-service/.env.sample
  backend/gateway/.env.sample
  backend/matching-service/.env.sample
Labels: matching-service, collaboration-service, communication-service, gateway

#113 Update exception status codes and some UI styles
  backend/auth-service/src/exceptions/ExpiredAccessToken.js
  backend/auth-service/src/exceptions/TokenVerficationFailure.js
  backend/auth-service/src/routes/authRoutes.js
  backend/gateway/src/exceptions/CompromisedAccessToken.js
  backend/gateway/src/exceptions/ExpiredAccessToken.js
  backend/gateway/src/exceptions/MissingAccessToken.js
  frontend/src/components/CollaborativeTabs.js
Labels: auth-service, gateway, frontend

#120 Add persistent login
  backend/auth-service/src/services/authService.js
  frontend/src/App.js
  frontend/src/components/LoginPage.js
  frontend/src/components/PersistLogin.js
  frontend/src/contexts/AuthContext.js
  frontend/src/hooks/useRefreshToken.js
Labels: priority.High, auth-service, frontend
