Repository CS3219-AY2223S1/cs3219-project-ay2223s1-g54, pull requests merged in 2022-11, with the labels that each got.

#134 Add more tests
  backend/auth-service/tests/routes.test.js
  backend/user-service/tests/routes.test.js
  backend/user-service/tests/services/userService.test.js
Labels: user-service, auth-service

#140 Add history service
  backend/gateway/.env.sample
  backend/gateway/src/configs.js
  backend/gateway/src/routes/gatewayRoutes.js
  backend/gateway/src/routes/historyRoutes.js
  backend/gateway/src/services/historyService.js
  backend/history-service/.babelrc
  backend/history-service/.env.sample
  backend/history-service/.gitignore
  backend/history-service/package-lock.json
  backend/history-service/package.json
  backend/history-service/src/app.js
  backend/history-service/src/configs.js
  backend/history-service/src/constants/responseMessages.js
  backend/history-service/src/constants/statusCodes.js
  backend/history-service/src/db/models/history.js
  backend/history-service/src/db/repositories/history.js
  backend/history-service/src/db/setup.js
  backend/history-service/src/exceptions/MalformedRequest.js
  backend/history-service/src/index.js
  backend/history-service/src/middlewares/errorHandlers.js
  backend/history-service/src/routes/historyRoutes.js
  backend/history-service/src/services/historyService.js
  backend/history-service/tests/routes.test.js
  package.json
Labels: priority.Medium, history-service

#142 Add account confirmation logic
  frontend/src/App.js
  frontend/src/components/ConfirmAccountForm.js
  frontend/src/components/RegisterForm.js
  frontend/src/components/pages/ConfirmAccountPage.js
Labels: fr, frontend

#145 Refactor refresh token logic
  frontend/src/components/VideoAudioChat.js
  frontend/src/hooks/useRefreshToken.js
  package.json
Labels: frontend

#143 Add deployment for judge0, auth and question
  backend/auth-service/.elasticbeanstalk/config.yml
  backend/gateway/.env.sample
  backend/online-judge/.elasticbeanstalk/config.yml
  backend/question-service/.elasticbeanstalk/config.yml
Labels: deployment

#147 Add history UI
  backend/gateway/src/routes/historyRoutes.js
  backend/gateway/src/routes/questionRoutes.js
  backend/question-service/src/routes/questionRoutes.js
  backend/question-service/src/services/questionService.js
  frontend/src/App.js
  frontend/src/components/DevEnvironment.js
  frontend/src/components/HistoryPane.js
  frontend/src/components/pages/CollaborationPage.js
  frontend/src/components/pages/HomePage.js
  frontend/src/components/pages/SubmissionViewerPage.js
  frontend/src/configs.js
Labels: fr, frontend

#149 Update submission history
  frontend/src/components/HistoryPane.js
  frontend/src/components/MatchForm.js
  frontend/src/components/pages/CollaborationPage.js
Labels: fr, priority.High, frontend, history-service

#150 Fix incorrect difficulty checks
  backend/gateway/src/routes/questionRoutes.js
Labels: bug, priority.low, question-service

#152 Add question bank and search functionality
  backend/gateway/src/routes/questionRoutes.js
  backend/gateway/src/services/questionService.js
  backend/question-service/src/routes/questionRoutes.js
  backend/question-service/src/services/questionService.js
  frontend/src/App.js
  frontend/src/components/pages/HomePage.js
  frontend/src/components/pages/QuestionBankPage.js
  frontend/src/configs.js
Labels: priority.High, question-service, frontend

#154 Update local setup instructions in README
  README.md
Labels: documentation

#153 Update frontend styles
  frontend/src/components/Landing.js
  frontend/src/components/Navbar.js
  frontend/src/components/pages/HomePage.js
  frontend/src/components/pages/QuestionBankPage.js
Labels: frontend

#155 Fix match cancel bug
  backend/gateway/src/events/connectionEvents.js
  backend/gateway/src/events/matchEvents.js
  backend/matching-service/src/db/repositories/match.js
  backend/matching-service/src/events/matchEvents.js
  backend/matching-service/src/services/matchService.js
  frontend/src/components/MatchForm.js
Labels: bug, priority.High, matching-service, gateway, frontend

#160 Update README.md with deployment instructions
  README.md
  backend/auth-service/package.json
  backend/history-service/package.json
  backend/question-service/package.json
  backend/user-service/package.json
Labels: documentation, priority.High, deployment

#151 Add Project Report
  54-FinalReport.pdf
  mermaid-js/auth-service/renew-accessToken.json
  mermaid-js/user-service/create-user.json
  mermaid-js/user-service/update-password-user.json
Labels: documentation, priority.High
